[2020-07-01 09:36] Mayank0255 opened #1 "Refactor the code base"
- [x] Distribute the code using the best practices of Node.js
- [x] Introduce necessary setup packages like `morgan for logging`, `compression`
- [x] Add a response handler
- [x] Improve the add post, comment and answer functionalities in redux
- [x] setup pool and remove connection
- [x] Apply best practices for querying MySQL
- [x] Follow one kind of naming nomenclature - preferably camel case

[2020-07-01 09:42] Mayank0255 opened #2 "Apply pagination wherever required"
#### Back-end

Create a middleware for pagination

_Endpoints which are to be changed:_
* `/api/users`
* `/api/posts`
* `/api/posts/top`
* `/api/tags`
* `/api/posts/tag/:tagname`
* `/api/posts/answers/:id`
* `/api/posts/answers/:id`

#### Front-end

Add pagination in the front-end

[2020-07-01 09:44] Mayank0255 opened #3 "Introduce edit functionality"
Required in:
- [ ] Editing post
- [ ] Editing answer
- [ ] Editing comment

This will be done by creating `patch` or `put` routes

[2020-07-04 18:39] #1 closed

[2020-07-08 17:25] aaronshekey opened #5 "Consider using Stacks design system"
Super rad, keep going! We've got a design system that might get you closer to the production Stack Overflow.

https://stackoverflow.design

It's got a ton of CSS components and atomic CSS classes. Also a bunch of resources like all our icon set (including logos). It's all open source and might help! ✌️

[2020-07-08 17:34] Mayank0255 commented on #5
@aaronshekey Thank you so much. Would certainly consider using these.
And it feels like an achievement when a professional from StackOverflow is complementing

[2020-07-15 19:20] Mayank0255 opened #6 "Front-end & Back-end update"
Front-end:
- [x] Apply momentjs
- [x] Remove custom date service

Back-end:
- [x] Setup cors
- [x] Setup Helmet

[2020-07-17 21:06] #5 closed

[2020-07-18 18:33] #6 closed

[2020-07-22 20:33] #3 closed

[2020-08-22 09:05] Mayank0255 opened #11 "Implement package-by-feature conventions in client side"
Currently the client side is in package-by-layer state which is not recommended for production code

[2020-08-22 17:46] #11 closed, assigned to Mayank0255

[2020-08-22 18:51] gooddaytoday opened #12 "Implement voting for answers"
As i see, it's need to:

1. Add vote counting for answers in database
2. Add handling of voting on client and saving to DB on server.

[2020-09-09 06:55] Mayank0255 opened #14 "Convert the project into an unique project"

[2020-10-29 07:59] Mayank0255 opened #15 "Add new features to the project"
- [x] Add gravatars
- [x] Search Tags
- [x] Single post views
- [x] Profile views
- [x] Change title based on the current page
- [x] Search Users
- [x] Add tag description
- [x] UI improvements
- [x] Create relevant components
- [x] Sort posts by various parameters
- [x] Sort tags by various parameters
- [x] Sort Users by various parameters
- [x] Sort Answers in a Post
- [x] Search Questions
- [x]

[2020-11-09 13:32] #15 closed

[2020-11-10 06:37] Mayank0255 opened #17 "Implement Sequelize with MySQL"
Convert the backend API models by using Sequelize instead of raw MySQL queries

[2020-11-17 12:02] Mayank0255 opened #18 "Add a MySQL seeder"
Seed data for:
* `Users`
* `Posts`
* `Tags`
* `Answers`
* `Comments`

Write MySQL script for this which the developer can run to get you started

[2020-11-18 19:17] #18 closed

[2020-11-21 21:08] Mayank0255 opened #20 "Setup an Error 404 Page"

[2020-11-29 18:38] #20 closed

[2020-11-29 18:43] Mayank0255 opened #22 "[Frontend]: Setup Markdown Editor"
Apply a draft.js or slate.js WYSIWYG framework for React. Apply these to -

* Ask Question / Post Form
* Answer Form

[2020-12-12 05:59] Mayank0255 opened #23 "[Frontend]: Make the app responsive"
Make the client-side responsive as it is not now.

[2020-12-12 06:00] Mayank0255 commented on #23
@gooddaytoday This issue is up for grabs, wanna work on it?

[2021-01-11 19:04] a-nai opened #24 "I try to modify react app and get link to Question inside sidebar component"
[code]

I get error

[code]

I modify sidebar in that way:

[code]

[2021-01-12 09:04] Mayank0255 commented on #24
@a-nai

So, the thing is you need to call the getPost action in the hooks which would be `useEffect` specifically and the getPost action has a parameter for the id of the post which you will need to pass in the useEffect() as well. getPost returns details of a single post and it fetches that by `id`.

And kindly properly explain that what exactly do u want to do for which I might be able to help o

[2021-01-12 17:42] a-nai commented on #24
[code]

Still error

import React, { Fragment, useEffect, useState } from 'react';
import { NavLink } from 'react-router-dom';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';
import { getPost } from '../../redux/posts/posts.actions';
import { ReactComponent as GlobalIcon } from '../../assets/Globe.svg';
import './SideBar.styles.scss';

const SideBar = ({ getPost, post: {

[2021-01-15 04:24] a-nai opened #25 "Add new posts to database!!! from python terminal - it not show in all questions list"
I add this line to database
{'id': 8, 'title': 'This is a simple herpes virus-jkjfghdkfjghdkghkgjhdkg', 'body': 'jkljlkjlj ghjgjg ghjhgjhg hghjghj', 'views': 0, 'created_at': datetime.datetime(2021, 1, 15, 3, 59, 13), 'user_id': 8, 'vote': 23, 'unique_id': 1, 'counter': 0, 'language': 'english'}]
**sucessfully**

[code]

but it won't to show at main page and when i got to mysite.com/questions/8

[2021-01-15 04:33] Mayank0255 commented on #24
@a-nai

So, you might be getting the undefined error when you are in route where there doesn't exists a parameter. The match.param.id will be able to get the post id only if you have opened the post as at that moment the url get's updated showing the id at the top. On other pages it would give this error for which you will need to handle the error somehow.

[2021-01-15 04:39] Mayank0255 commented on #25
I think you have updated the schema and then you have updated the database with a new string of data. The issue can occue due to many reasons that you will need to clear up the database once as all the values inside should have the same schema. Another thing that you actually added data to the post only but how the postform works is that the tags are in MANY TO MANY relationship that's why it cont

[2021-01-15 04:48] a-nai commented on #25
I also update posttag table - but not simultaneously - is it problem?  Is it some connection that invisible in mysql tables?

I refresh page and nothing changed

[2021-01-15 04:52] a-nai commented on #24
[code]

I change to postId - and error gone - but sidebar constantly loading - seems can't get postId

[2021-01-15 04:53] Mayank0255 commented on #25
Try restarting the server after adding, it should work or you are doing something wrong in the implementation

[2021-01-15 04:55] a-nai commented on #25
http://178.154.224.104 - i get only 5 posts

http://178.154.224.104/questions/8 - empty

[2021-01-15 04:56] Mayank0255 commented on #24
@a-nai

I recommend to you to first learn Reactjs properly as you are not aware of the redux state management that good that is why you are trying to import whatever you want but that's not how it works you need to send postId as parameter from somewhere only then you can import it. That's just the gist of the problem you need to first learn react state management with redux properly then test the

[2021-01-15 04:56] #24 closed

[2021-01-15 05:01] Mayank0255 commented on #25
I am not sure what is it that you are doing as I have done these things alot of times while building the app. I won't be able to fix it as the issue is something else like the way you are executing thw problem, what you are trying to achieve, and lack of knowledge of mysql-express-react-node tech stack.

[2021-01-15 05:01] #25 closed

[2021-01-19 13:47] di10 commented on #23
i would like to work on this

[2021-01-19 14:23] Mayank0255 commented on #23
@di10

Go ahead👍
I will just assign you this issue.

P.S. - ask me anything about the code base if you get stuck anywhere

[2021-01-19 14:26] Mayank0255 commented on #23
One more thing I would like to state is that while working on it, keep in mind the component wise `SCSS` styling and to maintain that as closely as possible.

[2021-01-25 18:22] Mayank0255 commented on #14
On hold right now

[2021-02-14 09:34] Mayank0255 opened #31 "[FEATURE]: Setup React Skeleton Screens"
Can watch this YouTube playlist for reference - [The Net Ninja](https://www.youtube.com/playlist?list=PL4cUxeGkcC9i6bZhMuAzQpC6YgLmB4k4-)

Set up the Skeletons for all relevant components like-
* __PostItem Component__
* __UserPanel Component__
* __TagPanel Component__
* __QuestionSection Component__
* __AnswerItem Component__
* __CommentCell Component__

[2021-02-15 16:45] Mayank0255 opened #32 "[FEATURE]: Implement linters"

[2021-02-15 16:47] #32 closed

[2021-02-27 07:01] Mayank0255 commented on #12
Hi @gooddaytoday

Sorry, it took me a lot of time to go over this and finally I am ready to remove the restriction on the project and make it fully open source 🎉🎉

So, would like to implement this feature on the repo? I can just reopen it and assign this to you then.

[2021-03-10 16:28] Mayank0255 opened #33 "Setup husky to the project"
This is to save some time reviewing the code and then changing the linting errors. Which will be done by locally automating this process before committing the code

__[Husky Package](https://www.npmjs.com/package/husky)__

[2021-03-19 08:10] avinashupadhya99 commented on #33
Hey, can I give this a go? Thanks

[2021-03-19 09:29] Mayank0255 commented on #33
@avinashupadhya99

Sure, go ahead

[2021-03-19 09:31] Mayank0255 commented on #33
@avinashupadhya99

While setting it up, go through the linting requirements imposed in this project

[2021-03-19 11:08] divyanshu887 commented on #31
Hello sir @Mayank0255  i would like to work on this.

[2021-03-19 11:26] Mayank0255 commented on #31
@divyanshu887

Sure, go ahead

[2021-03-20 03:42] bishalr0y commented on #2
Hey, I would like to work on this issue.  Can you guide me on how to get started with it?

[2021-03-20 09:46] Mayank0255 opened #34 "[Frontend]: Make the app responsive"
Make the client-side responsive as it is not now.

One more thing I would like to state is that while working on it, keep in mind the component wise SCSS styling and to maintain that as closely as possible.

[2021-03-20 09:46] #23 closed

[2021-03-20 10:15] adarshaacharya commented on #14
Hello @Mayank0255 !
I have created similar kind of app named **CsOverflow**. Have a look at it here.
https://github.com/adarshaacharya/CsOverflow

[2021-03-20 14:10] Mayank0255 commented on #14
@adarshaacharya

Great job there man🎉

[2021-03-20 15:20] avinashupadhya99 commented on #33
Hey @Mayank0255 , this might be a little stupid question. How do you normally run the lint locally? Have you installed `eslint` and `eslint-config-react-app` dependencies globally? If that's the case, I will need to install those as dev dependencies for the client package. If there's another way to run it, please let me know.

[2021-03-20 15:40] adarshaacharya commented on #14
@Mayank0255 thanks buddy ! I was originally inspired from your repo and tried to implement on my own.

[2021-03-20 16:53] Mayank0255 commented on #33
@avinashupadhya99

Usually, the developers use vscode or webstorm for this kind of stuff in which the IDE configures the linting files to the project.

If you have a better approach for this then go ahead and add creativity to the project. New ideas and suggestions are always welcomed 😃

[2021-03-20 16:57] Mayank0255 commented on #14
@adarshaacharya Good to hear that man, keep up the good work :)

I can see you have used ORM on your project with PostgreSQL, I have an issue (#17) which is shifting from basic querying to an ORM Sequelize or Prisma with MySQL, so, would you like to work on it and help me out?

[2021-03-20 17:27] avinashupadhya99 commented on #33
I think adding them as dev dependencies will ensure it will work just about anywhere. I'll set that up soon.

[2021-03-20 17:58] Mayank0255 commented on #33
Sure, go ahead

[2021-03-21 01:36] adarshaacharya commented on #14
@Mayank0255 yes for sure ! I would look into the codebase first then decide how to migrate it to sequelize !

[2021-03-21 02:17] Mayank0255 commented on #14
Great

If you have decided to work on it then just comment on the issue, so that I can assign it to you.

[2021-03-22 04:59] Mayank0255 commented on #31
@divyanshu887
May I ask for the progress? You can ask me if you are stuck anywhere

[2021-03-22 12:35] divyanshu887 commented on #31
i am having mid sem exams till tomorrow so currently not much progess on this issue but i will try my best to send the pr  by the end of this week. I am beginner in frontend development so any guidance from you will be helpful . Sorry for the delay
@Mayank0255

[2021-03-22 12:59] Mayank0255 commented on #31
@divyanshu887
No worries, concentrate on your exam and all the best :)

For the beginner thing, I have attached a great learning source and it is what I want in my project too, so, take a look at it and of course I am here to guide as well

[2021-03-24 12:06] Mayank0255 commented on #14
@adarshaacharya

Did you look into #17?

[2021-03-24 13:56] adarshaacharya commented on #14
@Mayank0255 yes I've look it that. Actually I've exams coming up ! So, working on that issue would take more time. Instead I'm planning to work on #22 .

[2021-03-24 14:59] Mayank0255 commented on #14
@adarshaacharya Sure, no problem, just comment on the issue so that I can assign you that

[2021-03-25 05:07] divyanshu887 commented on #31
@Mayank0255  i am unable to set up the project can you guide me. i dont understand what is the use of .env file

[2021-03-25 05:16] Mayank0255 commented on #31
@divyanshu887

So, you have to setup .env file as it will be consisting of your mysql database credentials which will stay in your local machine and won't be going public to everyone. If that isn't there then you won't be able to connect with the database.

[2021-03-25 09:22] divyanshu887 commented on #31
@Mayank0255 to solve the issue , i have make a skeleton folder in src in which i will have to make skeleton of all the components mentioned above and import them to their jsx files .
is this process correct or not ?

[2021-03-25 09:24] Mayank0255 commented on #31
For now make the skeletons directory in the components directory and then proceed as you mentioned

[2021-03-25 13:41] divyanshu887 commented on #31
@Mayank0255  after creating env file , i am unable to find way to setup it locally. can you tell what to do next ?

[2021-03-25 13:43] Mayank0255 commented on #31
@divyanshu887 Are you following the guidelines mentioned properly?

[2021-03-25 13:45] Mayank0255 commented on #31
Have filled your .env file exactly like .env.example? and have added the required credentials too?

[2021-03-25 13:48] divyanshu887 commented on #31
yes i have installed mysql and created a new database and filled it as described in env.example

[2021-03-25 13:49] Mayank0255 commented on #31
What error are you getting while running?

[2021-03-25 14:14] divyanshu887 commented on #31
i am getting this on running the command  written in readme in the directory where i have saved env file

error code ENOENT
error syscall open
error path /home/imposter/react/package.json
error errno -2
error enoent ENOENT: no such file or directory, open '/home/imposter/react/package.json'
error enoent This is related to npm not being able to find a file.

[2021-03-25 14:30] Mayank0255 commented on #31
@divyanshu887

So, this is not an .env error as right now you are just install deps.

1. Is the terminal set to the path of the directory? I not then do so and run again

2. If `npm run installDep` is not working then first run `npm install` and then `cd client` and then run `npm install`

[2021-03-25 15:53] divyanshu887 commented on #31
it worked

[2021-03-25 16:38] divyanshu887 commented on #31
@Mayank0255  getting this when trying to run 'npm run server'. please tell what i am doing wrong here
![Screenshot from 2021-03-25 22-05-24](https://user-images.githubusercontent.com/59568700/112509390-6d2a8700-8db6-11eb-9682-add6369e7cb1.png)

[2021-03-25 16:55] Mayank0255 commented on #31
You are doing setting up your .env wrong then send me ss of that.

P.S. - Is it the first time working on node and react?

[2021-03-25 19:03] divyanshu887 commented on #31
@Mayank0255  yes it is my first time working with react and node js. i have never used mysql so i am unable to set up the connection. i tried to solve the error but failed. i think first i should learn mysql and gain some experience in nodejs and react then i will be able to solve these issues .as i have not been able to solve the issue ,you can unassign me this issue for now, after learning the t

[2021-03-25 20:15] Mayank0255 commented on #31
@divyanshu887 Sure man, will be waiting for your contribution

[2021-03-27 06:21] priyanshuSharma-WebDev opened #35 "Question related to the project?"
Hey! I'm facing issues to setup database locally cause I never use SQL database before ''m only use mongodb But I know mySQL syntax. Will you tell me step by step how do I setup db locally?

[2021-03-27 07:04] Mayank0255 commented on #35
Okay, so,

1. Install MySQL to your local machine.
2. Check if you are able to connect to the mysql client with your credentials or not.
3. If you are able to connect to it then create a `.env` file in the project folder and set it up in the same format as in `.env.example`. Add your personal mysql credentials to their respective places in your `.env` file.
4. After that just follow the instructio

[2021-03-28 04:51] Mayank0255 commented on #35
@priyanshuSharma-WebDev did this help?

[2021-03-28 07:06] ddsuhaimi commented on #35
i have some trouble with running the backend ( i think it has something to do with the env). What would be the host value in the .env for example?

[2021-03-28 07:23] Mayank0255 commented on #35
Great to hear that, though it can also be 'localhost'

[2021-03-28 07:23] Mayank0255 commented on #35
@priyanshuSharma-WebDev should I close the issue then?

[2021-03-28 07:55] ddsuhaimi commented on #22
how would you go about having the icons here? I checked slate docs, and rn i can implement it. But since slate use material icon in their example and this one isn't? what would be the approach here? are you willing to add more dependecy (react-icons or bootstrap icon, or maybe some fontawesome?)

[2021-03-28 09:13] Mayank0255 commented on #22
Hi @ddsuhaimi,

__The UI we are focusing on is this:__

![image](https://user-images.githubusercontent.com/43780137/112747234-a1c65a80-8fd1-11eb-8068-c7609b064f57.png)

And the main ui should look like this but we will not be adding all the functionalities to it at the moment.

So, the idea has changed quite a bit from when I made the issue that we won't be adding a Markdown editor, whereas a Rich

[2021-03-28 09:13] Mayank0255 commented on #22
@ddsuhaimi And let me know if you will be working on this, so that I can assign it to you

[2021-03-28 09:51] adarshaacharya commented on #22
@ddsuhaimi If you're not working I would like to work on this issue.

[2021-03-28 10:59] Mayank0255 commented on #33
@avinashupadhya99 what's the status on this issue??

[2021-03-28 12:47] ddsuhaimi commented on #22
Thanks for the response @Mayank0255
When you said "basic html like and all", do you mean ability to paste HTML rich content like [here](https://www.slatejs.org/examples/paste-html) ?

Another thing is Slate turns the text inside the input into a list of objects based on its formatting as shown in the image below.
![image](https://user-images.githubusercontent.com/30659198/112752642-3181fe00-8ffe-1

[2021-03-28 15:44] priyanshuSharma-WebDev commented on #35
Yeah! It's work, Now I'm ready to familiarize myself with codebase.

[2021-03-28 15:47] priyanshuSharma-WebDev commented on #35
One more thing! Have you ever try to make a real time collaboration webapp ```ex: google docs``` cause I want to make something like this?

[2021-03-28 16:03] Mayank0255 commented on #22
@ddsuhaimi

Ya correct I mean that only.

Hmm I see, I think we would need to change the database schema a little. Give me sometime I will think about the effective solution which is used by other developers too. You can also try to look for solutions for this.

[2021-03-28 16:07] Mayank0255 commented on #35
Great, I am glad to hear that and am looking forward to some really cool contributions from your side 😄.

I haven't done anything like that up till now, though I have worked a little with Web Sockets for a chat application

[2021-03-28 16:18] ddsuhaimi commented on #22
@Mayank0255
Cool

One idea is to save it as JSON like [here](https://docs.slatejs.org/walkthroughs/06-saving-to-a-database)

[2021-03-28 16:28] Mayank0255 commented on #22
@ddsuhaimi

Sure, will look into that too but I think there are ways of serializing it and then deserializing it when printed.
Take a look at these: [09-serializing](https://docs.slatejs.org/concepts/09-serializing) & [slate-html-serializer](https://docs.slatejs.org/v/v0.47/other-packages/index)

[2021-03-28 16:35] avinashupadhya99 commented on #33
Hey, I will make the PR for this tomorrow. Sorry for the delay

[2021-03-28 16:36] Mayank0255 commented on #33
@avinashupadhya99 Sure man

[2021-03-29 04:09] ddsuhaimi commented on #22
@Mayank0255

Interesting, so I guess we could save it as string of html (i dont know if this is a thing)? Basically, converting it to html whenever we `addPost`  and for editing we convert it to Slate objects back?

[2021-03-29 05:51] Mayank0255 commented on #22
@ddsuhaimi

For converting back we will have to see as if it's pure HTML then there are ways to just print the html or there will be an efficient way of printing the returned data.

Should I create another issue for the printing part or would you like to do that with the editor in this issue itself? as printing the new format of data is also kind of related to setting up of the editor

[2021-03-29 07:06] avinashupadhya99 opened #37 "[Proposal]: Add commit message docs in Readme for commitlint"
## Proposal

Instructions on writing good commit messages should be included in the documentation for husky `commit msg` to work.
Reference - https://www.freecodecamp.org/news/writing-good-commit-messages-a-practical-guide/

[2021-03-29 07:32] #35 closed

[2021-03-29 07:38] Mayank0255 commented on #37
@avinashupadhya99

Seems like a good proposal 👍🏽

I read the article you linked which seems good, but, there is another committing convention which is more widely used, which is this one - [Click Here](https://www.conventionalcommits.org/en/v1.0.0/#:~:text=The%20Conventional%20Commits%20specification%20is,automated%20tools%20on%20top%20of.)

[2021-03-29 11:15] #33 closed

[2021-03-29 11:29] Mayank0255 commented on #33
@avinashupadhya99 I just tried out husky and it warns fine but isn't there an option to fix those discrepancies automatically? Rather than manually doing so?

[2021-03-29 13:06] ddsuhaimi commented on #22
@Mayank0255

I think we should create another issue for that in case some people want to contribute too. Basically, converting Slate object to HTML and vice versa. But, if no one takes it after a few days, then yeah, I'll see what I can do.

The HTML object must be something I can inject into a div with `dangerouslySetInnerHTML` attribute like you said.

[2021-03-29 13:35] Mayank0255 commented on #22
@ddsuhaimi

So, I thought over it and I have decided that it should be an integrated task as after discussing with some developers I got to know that after resolving an issue, whether it's a small issue or a big one, the app should stay in it's working state which won't be possible if you would just setup the editor and it will return an object as:

1. It won't get stored anywhere
2. The app won't

[2021-03-29 13:51] Mayank0255 commented on #22
@ddsuhaimi

For draft.js:

1. This is a good article for learning to setup - [Its a series](https://medium.com/@siobhanpmahoney/building-a-rich-text-editor-with-draft-js-react-redux-and-rails-ef8d2e2897bf)
2. The docs are pretty good too - [here](https://draftjs.org/docs/getting-started)
3. This one is a working model in which seamless conversion is also implemented - [here](https://codesandbox.io

[2021-03-29 16:55] Mayank0255 opened #38 "Root directory cleanup"

[2021-03-29 18:21] #38 closed

[2021-03-30 02:45] ddsuhaimi commented on #22
@Mayank0255

I'll see which one is easier to implement tonight. Thanks for the links :)

[2021-03-30 03:27] Mayank0255 commented on #22
@ddsuhaimi great 👍🏽 Hoping to see a PR up by you soon

[2021-03-30 16:41] Mayank0255 commented on #22
@ddsuhaimi

Glad to hear that as myself was recommending that only.

I just took a glance at the forked repo of yours, but I will review it properly once you make the PR of the fully functionable code.

Though you should pull from the upstream repo as I merged a PR yesterday and we have finished setting up husky which would help you and other developers to avoid the linting errors for our project.

[2021-03-31 04:23] priyanshuSharma-WebDev opened #39 "connect mysql locally question?"
Mayank are you using xamp to start mysql locally?

[2021-03-31 04:28] Mayank0255 commented on #39
@priyanshuSharma-WebDev

No, I don't

I used mysql workbench at start but then I just leave it running, like there's an option in which it fires up when in use automatically.

Rest all I do in mysql is through the terminal itself

[2021-04-02 05:14] Mayank0255 commented on #39
@priyanshuSharma-WebDev

Is your issue resolved?

[2021-04-02 08:09] Mayank0255 commented on #22
@ddsuhaimi what's up with the progress? Stuck anywhere?

[2021-04-02 09:38] ddsuhaimi commented on #22
@Mayank0255
![image](https://user-images.githubusercontent.com/30659198/113403988-aa53d200-93d1-11eb-9a01-6cc7976d2688.png)
Looks like we have some problem with the eslint (probably incompatible version). Not sure if this happens to everyone else or only me

I even fork the repo to my another github account and clone it, and still got the same error.

[2021-04-02 11:25] Mayank0255 commented on #22
@ddsuhaimi

Ya I am aware of that error and I setted up the .env file in client for that already too can you check if it is there or not?

[2021-04-02 11:26] Mayank0255 commented on #22
If that doesn't works then try adding that to you root `.env` file as well

[2021-04-02 11:52] ddsuhaimi commented on #22
there is no .env file in the client, but there is one in root. I have add .env file in the root, but I still got the error.

[2021-04-02 11:54] Mayank0255 commented on #22
I just checked that I didn't add another .env file to client, so for now just create a new .env file in client and write the line given in the error statement to ignore the error. It will work then

[2021-04-02 13:34] Mayank0255 commented on #22
@ddsuhaimi let me know if it works out or not

[2021-04-02 14:35] ddsuhaimi commented on #22
@ddsuhaimi

It work, I already saved the converted html to database. Now only need to display it.

[2021-04-02 14:37] Mayank0255 commented on #22
@ddsuhaimi

Good going man

[2021-04-02 16:19] ddsuhaimi commented on #22
@ddsuhaimi

Feel free to check my pr.

[2021-04-04 02:18] #39 closed

[2021-04-11 11:54] priyanshuSharma-WebDev opened #41 "DB connection error help?"
when I run server locally I got ```Error: Unknown database 'stack_overflow_v2'``` error will you help me fix that?

[2021-04-17 09:33] #41 closed

[2021-04-18 17:27] #22 closed

[2021-06-04 05:17] daacode commented on #34
Can I work on this

[2021-06-04 05:56] Mayank0255 commented on #34
@daacode

Go ahead!!

Tag me here, incase of any doubts or queries

[2021-06-04 16:30] vijaykarani333 opened #43 "[BUG]: How to we actually see the frontend of site ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a .env file and the format should be as given in .env.example.
2. Run these commands then -
    npm run installDep (To install all the dependencies)
    npm run auditDep (Run this to audit fix all the vulnerabilities)

3. Run databaseConfig.sql file in the mysql cli

[2021-06-04 17:03] Mayank0255 commented on #43
@vijaykarani333 do you have Mysql setup in your local machine?

And can you send a ss of your `.env`?

[2021-06-04 17:09] vijaykarani333 commented on #43
![image](https://user-images.githubusercontent.com/69556286/120838521-bf0d2d00-c51c-11eb-8c06-140b4af35ec4.png)

![image](https://user-images.githubusercontent.com/69556286/120838615-dd732880-c51c-11eb-9412-138e515e11a8.png)

Thank you for the quick response.

[2021-06-04 17:13] Mayank0255 commented on #43
Try replacing your host with this - 127.0.0.1

[2021-06-04 17:14] vijaykarani333 commented on #43
![image](https://user-images.githubusercontent.com/69556286/120839178-7bff8980-c51d-11eb-8f7e-97f288b87d58.png)

How can we see the font end.

"Try replacing your host with this - 127.0.0.1"
Do you mean localhot:5000 to 127.0.0.1:5000?

[2021-06-04 17:17] Mayank0255 commented on #43
@vijaykarani333 first of all its FRONTEND not font end

And no I don't mean that, change the host name in your env to that which is localhost right now.

And the port 5000 is for the backend, so you won't see your font end there, port 3000 is for the Frontend

[2021-06-04 18:58] Mayank0255 commented on #43
@vijaykarani333 did it work?

[2021-06-05 02:28] #43 closed

[2021-06-05 03:33] vijaykarani333 commented on #43
Yes, but when I change it to port 3000. there is not thing shown>

Since you share we should visit the front end at  port 3000, will give it a try when I am home. will update here.

[2021-06-05 11:14] Mayank0255 commented on #43
@vijaykarani333

Listen to me closely,

The project has 2 servers running one for backend which runs on port 5000 and another one for Frontend which runs on port 3000.

You don't have to change any port anywhere.

Now, just change your host field value in your .env file from 'localhost' to '127.0.0.1'.

Kindly don't change anything else.

Try this and let me know.

Incase you are not able to under

[2021-06-10 16:39] fabioalmeida100 commented on #17
I can help with this issue @Mayank0255 Assigned to me :-)

[2021-06-10 16:44] Mayank0255 commented on #17
@fabioalmeida100 Done!!

All the best buddy!!

Contact me here or discord incase you have queries related to it

[2021-06-10 16:48] Mayank0255 commented on #34
Hey @daacode

How is the work going? Stuck anywhere?

[2021-06-11 19:50] TheFlipside opened #44 "[BACKEND]: server error when registering a new user"
**Describe the bug**
When registering a new user a server error occurs but the user is then created anyway

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Sign Up" on the start page
2. Enter a username and password
3. Click on "Sign up"
4. A red error appears stating "server error"

**Expected behavior**
The user should be created without an error

**Additional context**
The follow

[2021-06-12 03:01] Mayank0255 commented on #44
@TheFlipside

Thank you pointing out, will look into it or if you want to debug the codebase with your expertise of promises then I would be more than happy to assign you this

[2021-06-12 06:48] TheFlipside commented on #44
sorry i'm not a developer, I just saw the error but I don't know where to look or how to fix it

[2021-06-12 08:06] Mayank0255 commented on #44
@TheFlipside Oh, I see

[2021-06-19 14:21] Mayank0255 commented on #17
@fabioalmeida100

How's the work going on?

[2021-06-19 20:22] fabioalmeida100 commented on #17
Hello @Mayank0255 ! For now, only fork the project... I didn't can a time for begin convert the models and implement Sequelize ORM. But, I believe return to the code in the next week.

Do you need fast response for this issue?

[2021-06-20 04:14] Mayank0255 commented on #17
@fabioalmeida100

Not really fast, was just hoping for a steady progress on it

[2021-06-26 23:30] fabioalmeida100 commented on #17
I can't do steady progress on it... I thought that the support here was a part-time, because I work full time in my country. I can help with this project only in weekends.

Anyway, I'will leave you informed about my progress here with status report. If you want a person to work in steady way in business days, I can't at this moment...

**Status report:**

- In the next week, I want to work in the

[2021-06-27 04:25] Mayank0255 commented on #17
@fabioalmeida100 ya no problem about that. I don't want daily progress. A weekly progress like you said is also fine with me.

Great, go ahead with the models

[2021-07-04 22:23] fabioalmeida100 commented on #17
@Mayank0255 maybe I will separate the queries from model with a implementation of the repository. So, I think this first step for convert models and queries for use Sequelize ORM.

For an easy test I think do a first PR with separation of queries of model and a the second PR with implementation of Sequelize is good... It will be more easy, I think in my opinion...

What do you think about this app

[2021-07-05 03:40] Mayank0255 commented on #17
@fabioalmeida100 ya this approach looks good to me too.

What I will do is create a new branch `dev` to which you can make the PRs, and then after the whole code is integrated and ready to be shown, then we will merge it with the master.

To go ahead with this process I can make two issues with the tasks you just mentioned and reference them here and after that you can make the PR linking to those

[2021-07-05 10:57] Mayank0255 commented on #34
@daacode Any updates on the progress?

[2021-07-05 11:06] Mayank0255 opened #46 "[Backend]: Implementation of Sequelize"
**Context**

This is the second task of #17, in which sequelize will be implemented

[2021-07-12 03:15] fabioalmeida100 commented on #17
Excellent @Mayank0255 ! I'm converting the models, here! In soon, my first PR in your project \o/

[2021-07-12 03:30] fabioalmeida100 opened #47 "[Backend]: Convert back-end for use ES Module instead CommonJS"
## Proposal

My proposal is to convert the import and export module way for ESModule. It is good standard mainly if you think use TypeScript in future.

[2021-07-14 08:09] Mayank0255 commented on #47
@fabioalmeida100 Seems like a good proposal.

Would like to work upon this?

[2021-07-14 08:11] Mayank0255 commented on #17
@fabioalmeida100 Great, looking forward to it

[2021-07-18 00:44] fabioalmeida100 commented on #47
Yes! I can work in this issue! Can assign to me.

[2021-07-18 07:52] Mayank0255 commented on #47
Sure, will do

[2021-08-01 19:06] fabioalmeida100 commented on #47
Hello @Mayank0255

I opened the PR for resolve this chore https://github.com/Mayank0255/Stackoverflow-Clone/pull/48

Tell me if I opened the PR correctly...

[2021-08-16 04:26] #47 closed

[2021-08-20 19:29] abhitheawesomecoder opened #49 "eslint error"
There might be a problem with the project dependency tree.
It is likely not a bug in Create React App, but something you need to fix locally.

The react-scripts package provided by Create React App requires a dependency:

  "eslint": "^6.6.0"

Don't try to install it manually: your package manager does it automatically.
However, a different version of eslint was detected higher up in the tree:

[2021-08-21 12:18] Mayank0255 commented on #49
Hi @abhitheawesomecoder,

Thanks for letting me know your query, yes I am aware of this issue, this happened due to installing `eslint` package manually while setting up a pre-commit library called `husky`.

Temporary solution of this is to add a `.env` file in the `client` folder and then include the text:

[code]
in the `.env` file

Let me know if this resolves the error you are facing.

[2021-08-29 18:43] devanshiv123 commented on #2
@Mayank0255 Can you assign this issue to me?

[2021-08-29 18:47] Mayank0255 commented on #2
@devanshiv123 sure, go ahead

[2021-08-30 20:42] devanshiv123 commented on #2
@Mayank0255 I am getting the the following error while setting up project(after npm run dev)
![image](https://user-images.githubusercontent.com/43826157/131402652-481e3946-bbac-48a2-9ec4-ec8b0808be4b.png)

[2021-08-31 04:50] Mayank0255 commented on #2
@devanshiv123
Try removing all the question marks from the shown areas and then try again and let me know

[2021-08-31 05:45] devanshiv123 commented on #2
I have removed the question marks and now I am getting another error:
![image](https://user-images.githubusercontent.com/43826157/131448665-4377a7b0-9d3e-40b0-9339-e62a9fb915e3.png)

[2021-08-31 05:47] Mayank0255 commented on #2
@devanshiv123
Can you go to the sidebar file in whoch it is exported and check whether it's exported correctly or not?

[2021-08-31 05:59] devanshiv123 commented on #2
@Mayank0255 Yes I think its exported correctly

[2021-08-31 06:03] Mayank0255 commented on #2
@devanshiv123
It's a new error actually, I haven't gotten this ever.

Can you look into it if possible? I will also try to figure it out.

Btw I am assuming that you haven't changed anything in the code right now?

[2021-08-31 06:08] devanshiv123 commented on #2
@Mayank0255 No I havn't made any changes I have just made the setup till now. I will try to figure out, maybe an issue with dependency.

[2021-08-31 06:10] Mayank0255 commented on #2
@devanshiv123 yes, correct, it's been sometime time there had been any changes so might be some functions or methods may have depreciated with the new versions

[2021-09-02 02:53] Mayank0255 commented on #2
@devanshiv123 any updates?

[2021-09-02 05:36] devanshiv123 commented on #2
@Mayank0255 I am still getting those errors. I have tried for a day but maybe something is wrong. For now you can unassign me from the issue, I will first try to setup correctly and then take up any other issue.

[2021-09-02 12:50] Mayank0255 commented on #2
@devanshiv123 Oh, ok

Any other reason that you wanna work on some other issue?

[2021-09-02 17:28] devanshiv123 commented on #2
@Mayank0255 No nothing as such, I will surely try to contribute if I get the setup properly after resolving errors.

[2021-09-03 11:53] Mayank0255 commented on #2
@devanshiv123 Cool

[2021-09-08 18:28] Amoghtech commented on #34
Hey is this issue still active?

[2021-09-08 18:29] Amoghtech commented on #17
Is this issue still active?

[2021-09-08 18:30] Mayank0255 commented on #34
@Amoghtech yes it definitely is, wanna work on it?

[2021-09-08 18:31] Mayank0255 commented on #17
@Amoghtech yes it is active, is currently assigned to @fabioalmeida100 do you guys want to work together on this?

[2021-09-08 19:10] Amoghtech commented on #34
Yes I will be obliged if you assign it to me

[2021-09-08 19:11] Amoghtech commented on #17
Yes I'll be grateful

[2021-09-08 19:26] Mayank0255 commented on #34
Cool, I will just assign it to you and I hope to get a good contribution and an active contributor added to this project👍👍

Let me know if you have any queries

[2021-09-08 19:27] Mayank0255 commented on #17
@Amoghtech cool, communicate with fabio on where he is currently and till then you can start you work with the other issue I've assigned to you just now.

[2021-09-08 19:41] Amoghtech commented on #34
Yeah, will surely make a good contribution

[2021-09-09 00:03] fabioalmeida100 commented on #17
Yes! I'm working on this @Amoghtech . So for now I don't need help in this issue :-)

[2021-09-09 03:32] Mayank0255 commented on #17
@Amoghtech okay so you can work on the othe issue assigned to you and after that you can work on a new issue which is available

[2021-09-10 06:06] Amoghtech commented on #34
Hey @Mayank0255 , Can i have deployed version of this app? because after running Server, I'm getting some errors and I don't have to do backend work for now

[2021-09-10 06:53] Mayank0255 commented on #34
@Amoghtech
So, there isn't any deployed version as if I do that then it can bring up some copyright issues.

Can you send me the server issues you are getting? I can help you fix those.
Or else give me sometime I will work on the setup in 1-2 days.
Probably the setup issues are coming up as I haven't really updated the modules for quite sometime

[2021-09-13 05:25] #49 closed

[2021-09-13 05:27] Mayank0255 commented on #49
@abhitheawesomecoder reopen the issue if your issue still persists

[2021-09-13 05:32] Mayank0255 commented on #34
@Amoghtech I have removed what was causing the error at the moment. Can you pull again and try again the setup?

And, to run the client side, you will need to run the backend server too, so that the API get's activated.

I will be implementing eslint properly by myself in a few days

[2021-09-13 05:34] Mayank0255 opened #51 "[FullStack]: Configure Eslint"
Setup Eslint and Prettier to the project to maintain some coding conventions.

Might introduce Travis-CI as well for testing.

[2021-09-13 05:39] Mayank0255 commented on #51
Will be updating all the dependencies and the versions of node, npm and react

[2021-09-13 16:57] Mayank0255 opened #52 "Major Project Update: Frontend and backend code split 🎉 🎉"
The Frontend code will remain in this Github Repo, and then the backend code will be shifted to [Stackoverflow-Clone-Backend](https://github.com/Mayank0255/Stackoverflow-Clone-Backend). This repo will be renamed to __Stackoverflow-Clone-Frontend__.

This update will be done as the project is expanding and the number of contributors are increasing, problems related to the setup, code style manageme

[2021-09-13 18:36] #52 closed

[2021-09-14 03:43] Mayank0255 commented on #17
@fabioalmeida100 yesterday I have split up the front-end and back-end code in two repositories, the front-end code remains here, and the the backend code is being shifted to   [Stackoverflow-Clone-Backend](https://github.com/Mayank0255/Stackoverflow-Clone-Backend)
As the project is growing and more developers are joining in, the management is getting tougher and the number of issues they are facin

[2021-09-14 07:31] Mayank0255 commented on #17
Didn't know you can transfer issues, so will just do that

[2021-09-16 04:14] Amoghtech commented on #34
Thanks a lot, Sorry I was busy with something else that's why I'm replying late

[2021-09-16 04:34] Mayank0255 commented on #34
@Amoghtech  Not an issue, by the why there's been an update in the codebase, front-end and backend repos have been separated and new step guidelines have been imposed, kindly follow that and you are good to go

[2021-09-19 06:57] Amoghtech commented on #34
Ohkk thanks

[2021-09-19 07:08] Mayank0255 commented on #34
@Amoghtech may I ask that according to you, after how much time should I expect a PR on this?

[2021-09-19 07:24] Amoghtech commented on #34
I will make a PR within few days as my exams were going on

[2021-09-19 08:35] Mayank0255 commented on #34
Cool, looking forward to it

[2021-10-01 09:27] Mayank0255 commented on #34
@Amoghtech Any updates on the PR?

[2021-10-01 14:56] Spandan16 opened #54 "[Proposal]: Hosting the website"
## Proposal

Could you host/deploy the code in a basic site hosted like vercel/heroku/firebase?

I would like to assign this work to @mrvishalsharma

[2021-10-01 15:49] Mayank0255 commented on #54
Hi @Spandan16,
Thanks for the proposal.

Actually the thing is that this is the long term goal for now as there are two major hindrances in deploying the API and the Website.

1. For this I will have to host the MySQL database on cloud, which is not that easy as hosting a MongoDB database on cloud. And some MySQL services are even paid as well.

2. This one the biggest hindrance that is to be tack

[2021-10-01 16:51] alceil commented on #2
Is anyone working on this issue? Can i work on this issue?

[2021-10-01 16:52] alceil commented on #12
Is anobody working on this issue?

[2021-10-01 16:53] alceil commented on #31
Can i work on it?

[2021-10-01 18:05] Mayank0255 commented on #2
@alceil Yes you can work on this issue,

I noticed that you are willing to work on two more issues, which are also available but I would recommend doing one first and then going on others, so that I can just assign you one at the moment and the other two are open for other people as well in the meantime.

You can choose which one do you want to start with? I would recommend this one as this one is

[2021-10-01 20:31] m1ga opened #55 "[Backend/Frontend]: Change the name/icons/logos"
I think you should remove the `stackoverflow` logo, name, trademarks for your project (https://stackoverflow.com/legal/trademark-guidance) and use a custom name.

[2021-10-02 01:15] kunalkumar007 commented on #2
Hy @alceil @Mayank0255, if @alceil decides to work on another issue, then I am open to this one. Let me know further. 😃

[2021-10-02 04:04] Mayank0255 commented on #55
Hi @m1ga,

Yes I have been thinking about this, will be doing this soon myself.
I have already created an issue related to it #14 and there's a branch called `dev-hub-1` where some of the changes have been made already.

[2021-10-02 04:08] Mayank0255 commented on #2
@alceil can you please clarify that from which issue are you willing to begin?

@kunalkumar007 kindly give the person 1 day to get back to us, if he decides to take up this issue then I can recommend you to take up #31 this issue, which might be something new and for which a guide has also been referred. If he decides to take up anyother issue then I would love you to be part of this issue.

If @a

[2021-10-02 04:10] Mayank0255 commented on #34
@Amoghtech kindly get back to us with a response as the fest has begun and there are some other people asking to work on this issue as well.

Pls try to get back to us by the end of the day

[2021-10-02 05:07] AkshatMishra01 commented on #34
Hey, @Mayank0255 can I work on this issue?

[2021-10-02 05:09] Mayank0255 commented on #34
@AkshatMishra01 sure you can, just wanted to ask one thing before assigning it to you that after how many days can I expect a PR? As previously also some people were ready to work on this but didn't make a PR throughout.

[2021-10-02 05:12] AkshatMishra01 commented on #34
@Mayank0255  I'll create a PR in 5 days

[2021-10-02 05:38] Mayank0255 commented on #34
@AkshatMishra01 you are most welcome then!! All the best and let me know if you get stuck anywhere.

You can contact me here or on my discord Shadowsaver#9665

I am assigning it to you 🎉

[2021-10-02 07:02] JigmeT123 commented on #2
Is this still active ? Can I work on it

[2021-10-02 09:49] Mayank0255 commented on #2
Yes it is active, @kunalkumar007 is also willing to work on this, so @kunalkumar007 would you like to work with @JigmeT123 on this or do you want to work on this separately?

[2021-10-02 11:02] Mayank0255 commented on #12
@alceil Sure, go ahead

[2021-10-02 12:58] kunalkumar007 commented on #2
As more developers are interested to work on this issue, I would try another issue.

[2021-10-02 13:14] Mayank0255 commented on #2
@kunalkumar007 sure, kindly comment on that particular issue so that I can assign you that.

[2021-10-02 13:15] Mayank0255 commented on #2
@JigmeT123 I am then assigning this issue to you, is that ok?

[2021-10-02 15:13] JigmeT123 commented on #2
@Mayank0255 sure I will take this

[2021-10-02 15:36] Mayank0255 commented on #2
@JigmeT123 Cool. Looking forward to a PR soon!!

[2021-10-03 08:33] Rezanop commented on #31
Hello,
If @divyanshu887 isn't working in this issue anymore, i'd love to work on it!

[2021-10-03 08:35] Mayank0255 commented on #31
@Rezanop yes @divyanshu887 is not working on this issue anymore, should I assign it to you?

If yes then in how many days can I expect a PR?

[2021-10-03 08:54] Rezanop commented on #31
I'll need to get familiar with skeleton api.
So I'm hoping to finish in a week or less if it's fine with you

[2021-10-03 08:59] Mayank0255 commented on #31
@Rezanop Yes that's fine with me, I just want contributors that will actually work on the project as some of them just take up issues and then forget about it.

I am assigning it to you then 🎉

Let me know if you get stuck anywhere here on my discord Shadowsaver#9665.

[2021-10-04 08:18] AkshatMishra01 commented on #34
@Mayank0255  i just wanted to ask which part of the source folder you want me to edit

[2021-10-04 10:27] AkshatMishra01 commented on #34
ok

[2021-10-05 02:54] AkshatMishra01 commented on #34
@Mayank0255  Dude, i'm sorry, i'm not able to do this one, please unassign me this project

[2021-10-05 03:49] Mayank0255 commented on #34
@AkshatMishra01 will you be able to do this or not? As I got a mail stating that just now, but now that comment is not been shown here. So, kindly clarify

[2021-10-05 03:58] AkshatMishra01 commented on #34
@Mayank0255  I won't be able to do this project, plz unassign me

[2021-10-05 05:20] mrvishalsharma commented on #54
can you assing me this task i can work on this issue

[2021-10-05 05:32] Spandan16 commented on #54
Sure, will do that.

On Tue, 5 Oct, 2021, 10:50 am Vishal Sharma, ***@***.***>
wrote:

[2021-10-05 11:46] alceil commented on #12
Can anyone brief this issue a bit? handling of upvoting can be done in the front end. But to handle the db part I need to add changes in the back end too right? @Mayank0255

[2021-10-05 12:03] Mayank0255 commented on #12
@alceil yes changes in backend will also be required as there isn't any table there at the moment which keeps track of the votes.

And to begin with this I think adding voting to the questions only is satisfactory at the moment, later on we can go towards adding voting to answers as well. So, connecting the voting table with the post/question table would be required only, like suppose using `postI

[2021-10-05 12:07] Mayank0255 commented on #12
@alceil you can refer to this https://data.stackexchange.com/stackoverflow/query/new

This is the querying website of the original stackoverflow which helps you test out SQL queries  on there database and on the right side it also displays all the schemas.

You can check out how they have implemented voting in the backend and how is there architecture to refer.

If you get stuck anywhere or have a

[2021-10-05 12:15] alceil commented on #12
Sure. Thanks ;)

[2021-10-05 12:21] alceil commented on #12
I'm facing some problems when i set up the project locally. Can you help me out? And I need to run the backend too in another terminal right for the APIs to work.?

[2021-10-05 12:26] Mayank0255 commented on #12
@alceil yes you need to run both the servers, backend first then frontend

[2021-10-05 12:35] alceil commented on #12
okay got it

[2021-10-06 14:58] SaiSridhar783 commented on #34
Yes @Mayank0255 , you will get a PR within a week

[2021-10-07 19:45] luko0610 commented on #2
@Mayank0255 In case this doesn't make any progress I'd be happy to take over.

[2021-10-08 03:33] Mayank0255 commented on #2
@luko0610 Okay so @JigmeT123 two days has completed since I asked him about the updates.

Should I assign it to you then? And may I ask that approximately after how much time can I expect a PR?

[2021-10-09 18:35] luko0610 commented on #2
@Mayank0255 I'm currently at it. Frontend pagination component is nearly done (still needs some style improvements).
For now pagination is client side. If you want I can also make a PR for the backend to add server side pagination.

[2021-10-09 19:10] Mayank0255 commented on #2
Great progress @luko0610 ,

Can you elaborate on the part of server side pagination? If pagination has been setup on the frontend then what will you be doing in the backend?

[2021-10-09 19:21] luko0610 commented on #2
Of course. Basically if we only set it up on the frontend, the application would always receive all entries from the backend and then handle pagination on the client side. That's okay for a small number of entries, but can become an issue, when having thousands of entries.

A solution for this issue would be to do the pagination server side. That means when fetching the entries from the backend we

[2021-10-10 09:39] #34 closed

[2021-10-10 09:49] Mayank0255 commented on #2
@luko0610 I think it's a good idea, I have two things to ask about it,
1. After implementing that in the `API`, will you be calling the endpoint with updated page whenever next page or a specific page button is pressed?

2. There's one important thing to keep in mind while adding pagination, which is get access to `last page number (can be names as lastPageNumber)` at all the time as in the client

[2021-10-15 06:14] joshi-kaushal commented on #51
Hey, I want to work on this one!

[2021-10-15 16:18] Mayank0255 commented on #51
@joshi-kaushal oh yes, just remove the line in which it is imported, as the file was deleted as it was empty but we forgot to remove the line which imports it

[2021-11-02 13:15] Mayank0255 opened #59 "[Frontend]: Add Docker Support in front-end"

[2021-11-02 15:13] fabioalmeida100 commented on #59
@Mayank0255 can you assign to me, please?

[2021-11-02 16:19] Mayank0255 commented on #59
@fabioalmeida100 done

[2021-11-22 15:42] gyanendrasng commented on #31
is issue still there?

[2021-11-22 17:09] Mayank0255 commented on #31
@gyanendrasng yes, it is, would you be willing to work on this?

[2021-11-25 08:12] parth270 commented on #59
Hey, Mayank!!
I am new in contributing to open source and I want to contribute in this project and solve issues, will you help me on what to do to start contributing

[2021-11-25 10:30] Mayank0255 commented on #59
@parth270 text me on discord Shadowsaver#9665 or twitter Mayank0255

[2022-02-13 18:09] Mayank0255 opened #61 "[Frontend]: Improve the Users Page"
- Show the questions asked by the user.
- Show tags

[2022-02-15 09:56] Mayank0255 opened #62 "[BUG]: State not getting updated"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2022-02-26 04:47] lengrongfu opened #64 "[Backend/Frontend]: pagination request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, front-end paging is used. When there is a lot of data, the loading page will crash.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Expect to change to back-end interface paging

[2022-02-26 04:50] lengrongfu opened #65 "[Backend/Frontend]: pagination request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, front-end paging is used. When there is a lot of data, the loading page will crash.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Expect to change to back-end interface paging

[2022-03-01 17:32] Mayank0255 commented on #64
#64 have been closed because of duplicacy, follow #65

[2022-03-01 17:32] #64 closed

[2022-03-01 17:33] Mayank0255 commented on #65
@lengrongfu makes sense,

Will take of it

[2022-03-01 18:01] Mayank0255 opened #67 "[Frontend]: Add Project Socials to the website"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-05 19:49] Mayank0255 opened #69 "[Fullstack]: Enable multiple tags"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-05 19:50] #54 closed

[2022-03-05 19:50] #69 closed

[2022-03-05 20:29] Mayank0255 opened #70 "[BUG]: Rich Text Editors are showing white"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2022-03-05 20:30] Mayank0255 opened #71 "[Frontend]: Style Improvement"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-06 18:27] #67 closed

[2022-03-06 18:27] #70 closed

[2022-03-06 18:27] #71 closed

[2022-03-18 19:04] #65 closed

[2022-04-06 15:19] javeedsanganakal opened #75 "Can you create a video for README steps to use whole application."
## Proposal

[2022-04-17 06:43] Mayank0255 commented on #75
@javeedsanganakal creating a video wont be possible at the moment.

I have tried to make the readme as simple as possible, kindly let me know where you are getting stuck?

Before that please ensure about the pre-requisites,
1. Install & Setup Node and NPM
2. Install & Setup MySQL

[2022-07-01 19:47] Mayank0255 opened #83 "[Frontend]: Setup React Skeleton Screens For Tags & Users Page"
Can watch this YouTube playlist for reference - [The Net Ninja](https://www.youtube.com/playlist?list=PL4cUxeGkcC9i6bZhMuAzQpC6YgLmB4k4-)

Set up the Skeletons for __Tags Screen__ and __Users Screen__

[2022-07-01 19:49] Mayank0255 opened #84 "[Frontend]: Setup React Skeleton Screens For Single Tag & User Pages"
Can watch this YouTube playlist for reference - [The Net Ninja](https://www.youtube.com/playlist?list=PL4cUxeGkcC9i6bZhMuAzQpC6YgLmB4k4-)

Set up the Skeletons for __Single Tag Screen__ and __Single User Screen__

[2022-07-01 19:50] Mayank0255 opened #85 "[Frontend]: Add Spinners To All Actionable Buttons"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-01 19:55] Mayank0255 opened #86 "[Frontend]: Add Text Localization To All The Pages"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-01 20:03] Mayank0255 opened #87 "[Frontend]: Add Some Basic Validations For Better UX"
1. Max length limit for Tag Name while creation: 25 Characters
2. All Tag Names Should Be In English, So Translate it or don't allow it
3. Users Per Page Should Be 15, not 16
4. Validate the language users are inputting, dont allow any abuses or curses

[2022-07-01 20:05] Mayank0255 opened #88 "[Frontend]: Redesign The Top Questions Page"
It should look similar to this

![image](https://user-images.githubusercontent.com/43780137/176961849-c5c77301-c6ee-4af2-8f08-508a1ff2f197.png)

[2022-07-02 12:48] BurhanRaja commented on #88
Can I help you with this?

[2022-07-02 17:00] Mayank0255 commented on #88
@BurhanRaja Ya sure, go ahead. Should I assign it to you?

[2022-07-03 04:38] BurhanRaja commented on #88
Yes, but I am new to open source and collaborating with other people, so sorry in advance if I do anything wrong.

[2022-07-03 04:38] BurhanRaja commented on #88
I will do my best.

[2022-07-03 05:00] Mayank0255 commented on #88
@BurhanRaja
Ya, that is ok, as anyways I will be reviewing the PR before merging it.

Assigning you, btw how much time do you think it will take you? (No pressure, just want to have an idea)

[2022-07-03 11:43] BurhanRaja commented on #88
Yes, I will try submitting this in 2 to 3 days.
Do I also need to write the logic for the actions or just update the HTML and CSS part.

Currently it is looking something like this. I have updated some HTML and CSS. Am I going in the right direction?

![Screenshot (44)](https://user-images.githubusercontent.com/76507095/177038006-23a1f35a-8f2f-46a3-8df5-0637b23c8981.png)

[2022-07-03 13:44] Mayank0255 commented on #88
@BurhanRaja

Okay, so among the filters, Interesting, Bountied and Hot wont be possible because the data that we have currently, so you dont need to add those.

In the filters, you can add 4 types, Today, Week, Month, and Year. You will need to implement that too.

The logic would be that first you be sorting based on date range, (Like if week is selected then you would get results of this week an

[2022-07-03 15:23] ozair-dev commented on #88
I will let Burhan do the Job.  But if at any point, he faces any difficulty! I am here to help.

[2022-07-03 15:29] ozair-dev commented on #87
I'll try to do it.

[2022-07-03 16:24] shravankumar-fs commented on #85
Hey Mayank
Could you assign this to me? I'd like to assist on this?

Also can i use this without setting up the backend locally?

[2022-07-03 19:20] Mayank0255 commented on #85
@shravankumar-fs
Actually backend would be required, otherwise from where will you be getting all the data and test properly.

Let me know if you are in to take up this issue, will assign it to you then

[2022-07-03 19:21] Mayank0255 commented on #85
And this might help for loading buttons,
https://stackoverflow.design/product/components/buttons/#loading

[2022-07-03 19:23] Mayank0255 commented on #87
@ozair-dev
Ya sure, go ahead. Looking forward to it

Btw, how much time do you think it might take you for this? There is no hurry just wanted to know an estimate

[2022-07-03 19:23] Mayank0255 commented on #88
Ya definitely

[2022-07-03 19:31] ozair-dev commented on #87
I think I'll finish it within next 24 hrs hopefully.

[2022-07-03 19:34] Mayank0255 commented on #87
Cool, Good Luck!

[2022-07-03 22:43] ozair-dev commented on #87
Hi,
I did a little digging and working and found out that some validations are already applied on the backend for **post title** and **post body** input fields, e.g, title should be minimum 15 characters etc.

I would'hv suggested that tags should also be validate on the backend so the frontend code would be less messier.
But as you have quoted

So I applied some validation on **form submit**. If

[2022-07-03 22:43] ozair-dev commented on #87
And I also set 15 users per page. I am assuming you want to see perfectly squared out grid of users, but you should note that after setting 15 users per page!

## On normal screen zoom level (100 %), I see two columns for users like this
![Screenshot from 2022-07-04 03-15-16](https://user-images.githubusercontent.com/65649182/177059408-a37df907-4744-4a38-8966-8e35f31e5a42.png)

## And at 90% zoom

[2022-07-03 22:56] ozair-dev commented on #87
And to deal with the inappropriate words, I can make a function like **cleanAbusiveWords(formData)**  which will traverse through the object and clean the inappropriate words before posting
e.g,

[code]

    body: "This is ********"
}

[2022-07-04 02:14] BurhanRaja commented on #88
Ok, I got it.

[2022-07-04 11:27] BurhanRaja commented on #88
I am doing the filtering of Today and Month. It is showing me in console but not handling it on the website.

![Screenshot (45)](https://user-images.githubusercontent.com/76507095/177145296-e24a362b-2afe-4552-9802-2ae77d0bab4a.png)
![Screenshot (46)](https://user-images.githubusercontent.com/76507095/177145309-06c31355-21b3-4233-8a48-288c47296819.png)

This is the function I am using but not able

[2022-07-05 04:03] BurhanRaja commented on #88
I figured out the above part but now another one of bug is coming that I am not able to switch again to the previous filter. For example if I filtered for 'Year' then I am not able to go back to 'Today'

[2022-07-05 19:14] Mayank0255 commented on #87
Can you make it dynamic based on media queries?
so that it aligns on both the screen sizes

[2022-07-05 20:00] ozair-dev commented on #87
Actually you don't need to worry about it. The users grid columns already change dynamically.
But If we set the **users count to 18**, then we can avoid this empty area when two columns are shown because we will have even number of users.

![WhatsApp Image 2022-07-06 at 12 58 46 AM](https://user-images.githubusercontent.com/65649182/177406421-337d688e-eab3-4b3f-b6ff-134a7d9e4523.jpeg)

Is it okay

[2022-07-06 18:10] Mayank0255 commented on #87
@ozair-dev I think you didn't get it,

I am saying to change the count to 16 if it's two columns, and 15 if it's 3 column

[2022-07-06 18:33] ozair-dev commented on #87
@Mayank0255 sorry, but I think you didn't get my point.

The thing is that **two or three columns** are **viewpoint** related thing, they change based on screen size, and **users count is a fixed number** and fetched once only from database, it is unnecessary to change users count based on the number of columns. But I was suggesting that we set users count to 18 because 18 is multiple of both 2 an

[2022-07-07 03:22] Mayank0255 commented on #87
@ozair-dev
Ya I got this point before also, we are not pagination from backend, from backend we are retrieving all the data and then paginating in the frontend. So based on viewpoint there must be a way to manipulate the limit constant.

Still it's fine, go ahead with 18 users

[2022-07-08 09:41] myworldbox opened #91 "[Backend/Frontend]: the speed is slow for loading data"
please enhance the loading speed bro

it is great and epic project

[2022-07-09 07:13] Mayank0255 commented on #91
@myworldbox

Can you pls list down the pages or places where you have noticed this most frequently?

Though I have thought of caching the db calls and api responses, which should increase the response time drastically, if you are willing I can assign it to you.

https://github.com/Mayank0255/Stackoverflow-Clone-Backend/issues/47

[2022-07-09 07:16] Mayank0255 commented on #85
@shravankumar-fs

Found a workaround to avoid setting up backend,
Can just change the url [here](https://github.com/Mayank0255/Stackoverflow-Clone-Frontend/blob/53b64c37981c618802547cd17483525532de83f0/src/config/index.js#L6) to this `https://stackoverflow-clone-backend.herokuapp.com`

Let me know if you are interested and would want me to assign it to you

[2022-07-13 17:00] #87 closed

[2022-07-13 17:01] #88 closed

[2022-08-26 13:46] shravankumar-fs commented on #85
Hi @Mayank0255
Please assign it to me, I'll do.

Also currently which buttons need  this feature?

I see some places with no action event being triggered

[2022-08-27 07:23] Mayank0255 commented on #85
@shravankumar-fs
Ya sure, go ahead.

So, spinners will be required wherever an api call is going, like when the components of a page are loading, when you click on a button, etc.

Just explore the codebase add spinners wherever you think is required

[2022-08-29 18:41] Mayank0255 commented on #91
@myworldbox
Can you checkout the website now and see if there's any improvement in speed?

Have some things to do which will improve the response time even more

[2022-08-29 19:57] myworldbox commented on #91
Great let have a look👍🏻

[2022-09-03 03:44] Mayank0255 commented on #85
@shravankumar-fs Any progress on this?

[2022-09-18 12:45] Mayank0255 opened #99 "[Frontend] Setup New Color Schemes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-23 07:58] joshnho commented on #12
Is this issue being worked on ?

[2022-09-23 16:50] Mayank0255 commented on #12
@joshnho
No, it isnt.
Are you interested in picking it up?

[2022-09-23 17:00] joshnho commented on #12
Yes I would like to work on it starting tonight

[2022-09-24 06:26] Mayank0255 commented on #12
@joshnho
Sorry for the late reply, but ya go ahead.
Let me know if you face any issues

[2022-09-26 07:10] amreekminocha commented on #85
Hi.. is anyone working on this issue..
I would like to work on it if no one else is assigned.

[2022-09-26 16:58] Mayank0255 commented on #85
@amreekminocha
Ya sure, go ahead.

Any idea how much time will it take you to complete this task?

[2022-09-26 16:59] Mayank0255 commented on #12
@joshnho
Hoping everything is going fine with the task, let me know if you get stuck anywhere

[2022-09-27 14:29] amreekminocha commented on #85
Thanks for assigning..
I'll go through the project once then i'll tell you the required time

[2022-09-27 14:47] mayank-zoman commented on #85
Sure, not an issue

[2022-09-28 13:54] amreekminocha commented on #85
Hi I am having this error
Stackoverflow-Clone-Frontend/node_modules/webpack-dev-server/lib/Server.js:348
    } catch {

Can you help

[2022-09-28 17:28] Mayank0255 commented on #85
@amreekminocha

Can you pls send me the complete error? I can't firgure out anything from this.

And can you please let me know that did you get this error while setting up the repo or what?

[2022-09-29 09:16] amreekminocha commented on #85
Yes.. I am getting this error while setting the frontend repo
<img width="1440" alt="Screenshot 2022-09-29 at 2 45 32 PM" src="https://user-images.githubusercontent.com/43804941/192992509-e5282d2d-0d46-4287-9ab0-ce4ec385d5ec.png">

[2022-09-29 13:36] amreekminocha commented on #85
Hi do share a point of contact as well

[2022-10-01 11:51] Mayank0255 commented on #85
sure, you can reach out to me on discord https://discords.com/bio/p/mayank0255

[2022-10-01 11:52] Mayank0255 commented on #85
Can you try installing react-scripts individually and then starting the server?

`npm i react-scripts`

[2022-10-01 11:56] Mayank0255 commented on #85
@amreekminocha and check on which node version are in currently?
It should be above 14, 16 is recommended

[2022-10-02 09:47] crsdvaibhav commented on #84
Hey @Mayank0255 I would like to work on this, can you assign this to me?

[2022-10-02 15:23] amreekminocha commented on #85
This worked.. thanks

[2022-10-02 19:01] abhijain2003 commented on #61
Hey I would like to work on this please assign it to me
just to confirm are you talking about same as original one has

![Screenshot 2022-10-03 003421](https://user-images.githubusercontent.com/91718608/193471450-7d7a060d-6fb7-471e-b858-e6d23509ca8f.png)

[2022-10-02 21:18] Mayank0255 commented on #61
@abhijain2003
Yes, this only.

In terms of design, you can put some creativity if you want.
Should I assign it to you then?

[2022-10-02 21:19] Mayank0255 commented on #84
@crsdvaibhav sure, go ahead

[2022-10-09 07:41] amreekminocha commented on #85
Hi Can you share the buttons where the spinner is require

[2022-10-09 09:22] Mayank0255 commented on #85
So, spinners will be required wherever an api call is going, like when the components of a page are loading, when you click on a button, etc.

Just explore the codebase add spinners wherever you think is required

It's ok if you miss some places

[2022-10-12 03:40] ayushnau commented on #99
hey @Mayank0255 can I work on this.
Please assign this to me.

[2022-10-12 03:44] ayushnau commented on #12
@Mayank0255 can I work on this issue.
Please assign this to me.

[2022-10-13 03:56] Mayank0255 commented on #12
@Ayush2020012016
Sure, go ahead

Any idea that how much time will it take you to do this?

[2022-10-13 03:58] Mayank0255 commented on #99
@Ayush2020012016
Actually I am already working on this, I have assigned you a different task which you asked for

[2022-10-15 11:28] ritikakhandelwal-17 commented on #83
I would like to work on the issue, please assign it to me.

[2022-10-16 11:25] Mayank0255 commented on #83
@ritikakhandelwal-17
Sure, go ahead

[2022-10-16 11:26] Mayank0255 commented on #12
@Ayush2020012016 how's the progress on this?

[2022-10-16 11:26] Mayank0255 commented on #85
@amreekminocha how's the progress on this?

[2022-10-16 11:27] Mayank0255 commented on #84
@crsdvaibhav how's the progress on this?

[2022-10-18 08:25] crsdvaibhav commented on #84
Hey! Actually I had some problems seeing the single tag and single profile page. I installed the dependencies and started the localhost server and it was up. But whenever I clicked on tags or profile an error page keeps popping up. Might be because backend is not working?

[2022-10-23 05:15] Mayank0255 commented on #84
@crsdvaibhav ya if the server is not up then you will definitely face issues